<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Customer Id" value="" />
    <!--
      WANING! 
        User PIN can only be used once during initial certificate issuing.
        User PIN will be invalidated and account locked if wrong PIN is entered 4 times.
    -->
    <add key="Customer PIN" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PkiServiceHttpBinding" maxReceivedMessageSize="100000">
          <security mode="Transport" />
        </binding>
        <binding name="PkiServiceHttpBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://businessws.danskebank.com/ra/pkiservice.asmx"
          binding="basicHttpBinding" bindingConfiguration="PkiServiceHttpBinding"
          contract="SoapService.PkiServicePortType" name="PkiServiceHttpPort" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web />
</configuration>