<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SoapEnvelopes" type="DB.SoapLibrary.Configuration.SoapEnvelope.SoapEnvelopesSection, DB.SoapLibrary" />
    <section name="AuthorisedClients" type="DB.SoapLibrary.Configuration.AuthorisedClient.AuthorisedClientsSection, DB.SoapLibrary" />
  </configSections>
  <SoapEnvelopes>
    <SoapEnvelope direction="Outgoing">
      <Apply usage="Signature" algorithm="RSASHA1" />
      <Apply usage="KeyEncryption" algorithm="XmlEncRSA15Url" />
      <Apply usage="ContentEncryption" algorithm="XmlEncTripleDESUrl" />
    </SoapEnvelope>
    <SoapEnvelope direction="Incoming">
      <Apply usage="Signature" algorithm="RSASHA1" />
      <Apply usage="KeyEncryption" algorithm="XmlEncRSA15Url" />
      <Apply usage="ContentEncryption" algorithm="XmlEncTripleDESUrl" />
    </SoapEnvelope>
  </SoapEnvelopes>

  <AuthorisedClients>
    <!-- SYST configs -->
    <AuthorisedClient id="061133">
      <Certificate owner="Client" usage="Signature" path="Certificates/SYST/061133/Signing.pfx" password="Qwe123123" />
      <Certificate owner="Client" usage="ContentEncryption" path="Certificates/SYST/061133/Encryption.pfx" password="Qwe123123" />
      <Certificate owner="DB" usage="ContentEncryption" path="Certificates/SYST/dpcrypt.cer" />
      <Certificate owner="DB" usage="Signature" path="Certificates/SYST/dpsign.cer" />
    </AuthorisedClient>
    <AuthorisedClient id="4F4741">
      <Certificate owner="Client" usage="Signature" path="SYST-AppSwitch-Sign"/>
      <Certificate owner="Client" usage="ContentEncryption" path="SYST-AppSwitch-Crypt"/>
      <Certificate owner="DB" usage="ContentEncryption" path="SYST-AppSwitch-DPCRYPT" />
      <Certificate owner="DB" usage="Signature" path="SYST-AppSwitch-DPSIGN" />
    </AuthorisedClient>
  </AuthorisedClients>

  <appSettings>
    <!-- add key="RootUrl" value="https://privateservice02.danskebank.com/{0}"/ -->
    <add key="RootUrl" value="https://privatemobilepayservicesCert.danskebank.com/{0}"/>
    <add key="GetStatusV02" value="P2M/BackendAPI/GetStatusV02"/>
    <add key="CancelV01" value="P2M/BackendAPI/CancelV01"/>
    <add key="CaptureV01" value="P2M/BackendAPI/CaptureV01"/>
    <add key="RefundV02" value="P2M/BackendAPI/RefundV02"/>
    <add key="RequestPaymentV01" value="P2M/BackendAPI/RequestPaymentV01"/>

    <add key="GetStatusV03" value="P2M/BackendAPI/GetStatusV03"/>
    <add key="CancelV02" value="P2M/BackendAPI/CancelV02"/>
    <add key="CaptureV02" value="P2M/BackendAPI/CaptureV02"/>
    <add key="RefundV03" value="P2M/BackendAPI/RefundV03"/>
    <add key="GetReservationsV03" value="P2M/BackendAPI/GetReservationsV03"/>
    <add key="SendV01" value="P2M/BackendAPI/SendV01"/>
    <add key="ReserveV01" value="P2M/BackendAPI/ReserveV01"/>

    <!--file config-->
    <!--<add key ="CertificateStoreType" value="File"/>
    <add key ="CertificateStoreId" value="061133"/>-->

    <!--mscertstore config-->
    <add key ="CertificateStoreType" value="MSCert"/>
    <add key ="CertificateStoreId" value="DanskeBank.PKIFactory"/>
  </appSettings>
</configuration>