<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="ReserveV01">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://privatemobilepayservicesCert.danskebank.com/P2M/BackendAPI/ReserveV01"
                binding="customBinding" bindingConfiguration="ReserveV01"
                contract="ReserveV01" name="ReserveV01" />
        </client>
    </system.serviceModel>
</configuration>